<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <h1>Home</h1>

    <nav>
        <div>
            <a href="/"><h1>Stores</h1></a>
         
        </div>
        <ul>
            <li> <a href="/" >Store</a></li>
            <!-- <li> <a href="/about" >Aboutpage</a></li> -->
            <li> <a href="/store/create" >New Store</a></li>
        </ul>
       
       
    </nav>

    <div>
        oops page not found :)
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>